<footer class="bg-dark text-center text-white">
    <div class="bg-dark py-2">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2021 OnlyFetixxx - All rights reserved.</p>
        </div>
    </div>
</footer>