<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="../img/onlyfetixxLogo.png" class="pricing rounded-circle" alt=""
                width="110" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">{{!-- me-auto (right) -- ms-auto (left) --}}

                {{#if user}}
                <form class="d-flex" action="/search" method="GET">{{!-- cambio en la ruta --}}
                    <input class="form-control me-2" type="search" name="buscar" id="search" placeholder="Buscar"
                        aria-label="Search" maxlength="50"
                        oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    <button class="btn btn-outline-warning " type="submit">Buscar</button>
                </form>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <i class="fa fa-shopping-bag"></i>
                    </a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/shop">
                        <i class="fal fa-cart-arrow-down"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.PERSONA_NOMBRE}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#userModal">
                                <i class="fa fa-user"> Actualizar Perfil</i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/profile">
                                <i class="fal fa-clipboard-list"> Mi galleria</i>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">
                                <i class="fal fa-sign-out"> Salir</i></a>
                            </a>
                        </li>
                    </ul>
                </li>

                {{#if admin}}
                <li class="nav-item">
                    <a class="nav-link" href="/administrator">
                        <i class="fa fa-user">Administrar</i>
                    </a>
                </li>
                {{/if}}

                {{#if partner}}
                <li class="nav-item">
                    <a class="nav-link" href="/partner">
                        <i class="fa fa-user">Asociado</i>
                    </a>
                </li>
                {{/if}}

                {{else}}
                <h1 style="color: #b82bb8;">Bienvenidos a onlyfetixx su pagina de packs favorita</h1>
                {{/if}}

            </ul>
        </div>
    </div>
</nav>

<div>

    {{#if user}}
    <div class="modal fade" id="userModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="staticBackdropLabel">
                        <i class="fal fa-check-circle"> Actualizar Perfil</i>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/profile/user/" class="row g-3 needs-validation" method="POST"
                        enctype="multipart/form-data">

                        <div class="col-md-6">
                            <label class="form-label">Nombre:</label>
                            <input type="text" value="{{profile.PERSONA_NOMBRE}}" name="PERSONA_NOMBRE"
                                placeholder="NOMBRE" class="form-control" maxlength="60"
                                style="text-transform:uppercase"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                required autofocus>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Contraseña:</label>
                            <input type="password" name="NUEVA_CONTRASENA" placeholder="CONTRASEÑA" class="form-control"
                                maxlength="60"
                                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>

                        <div class="col-12 text-center">
                            <button class="btn btn-success">
                                Guardar
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

</div>

<script>

    fetch('/searchname')
        .then(res => res.json())
        .then(data => {

            var productnames = [];

            const products = '';

            data.products.forEach(names => {
                productnames.push(names.PRODUCTO_NOMBRE);
            });

            let uniqProducts = Array.from(new Set(productnames));

            $("#search").autocomplete({
                source: uniqProducts
            });

        });

</script>